* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background-color: black;
}


.container {
  width:900px;
  max-width: 90%;
  margin:10vh auto;
  height:50vh;
  border:1px solid white;
  border-radius:2rem;
}

.container > p {
  text-align: center;
  color:white;
}

.d_flex {
  display:flex;
  margin:2rem 5rem;
}

.d_none {
  display:none
}

.w-50 {
  width:50%;
}

.flex_center {
  align-items:center;
}

button {
  background-color: rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  font-size:1.5rem;
  padding: 20px;
  width:100%;
  border-radius:2rem;
  transition:all ease .2s;
}

button:hover {
  background-color: rgb(142, 142, 142);
}

button:active {
  background-color: #251c8f; /* changed color when clicked */
  transform: scale(0.9); /* optional: scale down on click */
}

img {
  max-width: 100%;
}

.reverse {
  transform: scaleX(-1);
}

.alert {
  padding-top:2rem;
  color:red;
  text-align:center;
  font-size:2rem;
}